*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #F5FCFF;
  --background-color: #153cf5;
  --color: #333;
  /* --color: rgb(188, 114, 114); */
  --padding-side-small: 2rem;
  --heading-font-size: 2rem;
  --normal-font-size: 1.2rem;
  --heading-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --normal-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  line-height: 1.5;
  color: var(--color);
  background-color: var(--body-color);
  font-family: var(--normal-font-family);
  scroll-behavior: smooth;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  /* height: 60px; */
  /* background-color: var(--background-color); */
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color);
  border-bottom: 1px solid #eee;
  box-shadow: 5px 5px 10px rgba(138, 138, 138, 0.461);
  z-index: 999;
}
.header .logoDiv {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  display: flex;
  align-items: center;
  /* background-color: #222; */
}
.navbar li {
  margin-right: 1rem;
  font-size: 1.2rem;
}
.navbar li:hover {
  cursor: pointer;
}
.navbar button {
  padding: 0.5rem 1rem;
  background: var(--background-color);
  border: 2px solid var(--background-color);
  border-radius: 5px;
  margin-left: 2rem;
  font-size: inherit;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 500ms;
}
.navbar button:hover {
  background-color: #fff;
  color: var(--background-color);
}


/* searchbar */
.searchbar {
  width: 100%;
  display: flex;
  color: var(--color);
}
.searchbar input {
  width: 80%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: 2px solid #ddd;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.searchbar input:focus {
  border-color: var(--background-color);
}
.searchbar button {
  width: 20%;
  font-size: calc(1rem);
  background-color: var(--background-color);
  color: #f2f2f2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

/* hero section searchbar */
.heroSection .heroSection_Searchbar{
  width: 80%;
}
.heroSection .searchbar input {
  padding: 1.5rem 2rem;
  font-size: calc(1rem + 0.6vw);
}
.heroSection .searchbar button {
  font-size: calc(1rem);
}
.searchbar button:hover {
  opacity: 0.8;
}

/* home */
.home {
  height: auto;
  width: 100%;
  max-width: 1400px;
  margin: 10rem auto 5rem;
  /* background-color: bisque; */
}

/* home -> hero section */
.heroSection {
  /* background-color: aquamarine; */
  width: 90%;
  max-width: 900px;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroSection * {
  margin-bottom: 2rem;
}
.heroSection h1 {
  font-size: calc(2rem + 1.2vw);
  text-align: center;
  line-height: 1.1;
  color: var(--background-color);
  font-family: var(--heading-font-family);
}
.heroSection p {
  font-size: calc(1rem + 0.6vw);
  color: #333;
  text-align: center;
}

/* loading */
.loading{
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  letter-spacing: 2px;
}


@media screen and (max-width: 600px) {
  .header {
    padding: 1rem;
  }
  .navbar li {
    margin-right: 0;
    font-size: 1rem;
  }
  .navbar button {
    margin-left: 0rem;
  }

  .heroSection .heroSection_Searchbar{
    width: 100%;
  }
  .heroSection .searchbar input {
    padding: 1rem 1rem;
    font-size: calc(1rem + 0.2vw);
  }
  .heroSection .searchbar button {
    font-size: calc(.8rem);
  }
}